//==================================================================
// Footer
//==================================================================

footer {
  background: $grey-dark;
  @include clearfix;
  padding: 60px 20px;
  overflow: hidden;
  text-align: center;
  nav {
    display: inline-block;
    color: $grey-light;
    ul {
      li {
        display: inline-block;
        a {
          text-transform: uppercase;
          text-decoration: none;
          @include semi;
          color: $grey-light;
          padding: 10px;
        }
      }
    }
  }
}
