//==================================================================
// Footer
//==================================================================

footer {
    background: #212121;
    @include clearfix;
    padding: 60px 20px;
    overflow: hidden;
    text-align: center;
    nav {
        display: inline-block;
        color: $grey;
        ul {
            li {
                display: inline-block;
                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    @include semi;
                    color: $grey;
                    padding: 10px;
                }
            }
        }
    }
}
