    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-down,
    .icon-arrow-medium-down{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px 0px;
    width:42px;
    height:56px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-left,
    .icon-arrow-medium-left{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px -60px;
    width:56px;
    height:42px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-right,
    .icon-arrow-medium-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -46px 0px;
    width:56px;
    height:42px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-up,
    .icon-arrow-medium-up{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -106px 0px;
    width:42px;
    height:56px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-down,
    .icon-arrow-small-down{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -60px -60px;
    width:28px;
    height:37px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-left,
    .icon-arrow-small-left{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -92px -60px;
    width:37px;
    height:28px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-right,
    .icon-arrow-small-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px -106px;
    width:37px;
    height:28px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-up,
    .icon-arrow-small-up{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px 0px;
    width:28px;
    height:37px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-tiny-right,
    .icon-arrow-tiny-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -46px -46px;
    width:13px;
    height:7px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-checkbox-checked,
    .icon-checkbox-checked{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -41px;
    width:25px;
    height:25px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-closeburger,
    .icon-closeburger{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -93px;
    width:20px;
    height:20px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-facebook,
    .icon-facebook{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -133px -60px;
    width:7px;
    height:12px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-navburger,
    .icon-navburger{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -70px;
    width:24px;
    height:19px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-search,
    .icon-search{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -41px -106px;
    width:19px;
    height:19px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-twitter,
    .icon-twitter{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -117px;
    width:12px;
    height:10px;
    }
