    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-down,
    .icon-arrow-medium-down{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -215px 0px;
    width:42px;
    height:56px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-left,
    .icon-arrow-medium-left{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px -117px;
    width:56px;
    height:42px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-right,
    .icon-arrow-medium-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -60px -117px;
    width:56px;
    height:42px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-medium-up,
    .icon-arrow-medium-up{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -215px -60px;
    width:42px;
    height:56px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-down,
    .icon-arrow-small-down{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -120px -117px;
    width:28px;
    height:37px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-left,
    .icon-arrow-small-left{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -149px -77px;
    width:37px;
    height:28px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-right,
    .icon-arrow-small-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -108px -77px;
    width:37px;
    height:28px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-small-up,
    .icon-arrow-small-up{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -215px -120px;
    width:28px;
    height:37px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-arrow-tiny-right,
    .icon-arrow-tiny-right{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -146px;
    width:13px;
    height:7px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-checkbox-checked,
    .icon-checkbox-checked{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -152px -117px;
    width:25px;
    height:25px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-closeburger,
    .icon-closeburger{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -190px -77px;
    width:20px;
    height:20px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-facebook,
    .icon-facebook{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -247px -120px;
    width:7px;
    height:12px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-logo-large,
    .icon-logo-large{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px 0px;
    width:211px;
    height:73px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-logo-small,
    .icon-logo-small{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px -77px;
    width:104px;
    height:36px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-navburger,
    .icon-navburger{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -181px -117px;
    width:24px;
    height:19px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-search,
    .icon-search{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: 0px -163px;
    width:19px;
    height:19px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-twitter,
    .icon-twitter{
    display:inline-block;
    background-image: url(../images/sprites.png);
    background-position: -23px -163px;
    width:12px;
    height:10px;
    }
