@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

    .icon-arrow-medium-down{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-medium-left{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-medium-right{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-medium-up{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-small-down{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-small-left{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-small-right{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-small-up{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-arrow-tiny-right{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-checkbox-checked{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-closeburger{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-facebook{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-logo-large{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-logo-small{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-navburger{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-search{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }
    .icon-twitter{
    background-image: url(../images/sprites-retina.png);
    background-size:(514 / 2 )+px (364 / 2 )+px;
    }

}