    .no-flexboxlegacy.no-touch.no-canvas .icon-checkbox-checked,
    .icon-checkbox-checked{
    display:inline-block;
    background-image: url(../img/sprites.png);
    background-position: 0px 0px;
    width:25px;
    height:25px;
    }
    .no-flexboxlegacy.no-touch.no-canvas .icon-checkbox,
    .icon-checkbox{
    display:inline-block;
    background-image: url(../img/sprites.png);
    background-position: -29px 0px;
    width:25px;
    height:25px;
    }
