@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

    .icon-checkbox-checked{
    background-image: url(../img/sprites-retina.png);
    background-size:(108 / 2 )+px (50 / 2 )+px;
    }
    .icon-checkbox{
    background-image: url(../img/sprites-retina.png);
    background-size:(108 / 2 )+px (50 / 2 )+px;
    }

}