//------------------------------------------------------------------
// Blockquotes

@mixin BlockquoteStyles {
  blockquote {
    border-color: $primary;
    margin: 3rem;
    padding: 0 2rem;
    border-width: 0 0 0 .4rem;
    border-style: solid;
  }
}

@mixin BlockQuoteClasses {
  @each $color, $value in $colour-map {
    &.blockquote--#{$color} {
      border-color: $color;
    }
  }
}

@mixin Blockquotes {
  @include BlockquoteStyles;
  @include BlockQuoteClasses;
}