//-----------------------------------------------------------------
// Button Styles
//-----------------------------------------------------------------

@mixin button($color, $bordered: false) {
  $btnTextColor: $white;

  @if($color == $white) {
    $btnTextColor: #000;
  }

  @if($bordered) {
    color: $color;
    border-color: $color;
    background-color: transparent;

    @include active {
      color: $btnTextColor;
      border-color: $color;
      background-color: $color;
    }
  }

  @else {
    color: $btnTextColor;
    border-color: $color;
    background-color: $color;

    @include active {
      color: $color;
      background-color: transparent;
      border-color: $color;
    }
  }
}

@mixin ButtonStyles {

	// Button Reset
	button {
		border: 0;
		padding: 0;
		margin: 0;
		outline: 0;
		cursor: pointer;	
		background-color: transparent;
	}

	%button-defaults {
		// font-weight: bold;
		display: inline-block;
		margin: 0 1rem 1rem 0;
		padding: 1rem 2rem 1rem;
		border-radius: 0.5rem;
		cursor: pointer;
		outline: none;
		font-size: 2rem;
		white-space: nowrap;
		text-align: center;
		text-decoration: none;
		border-width: .2rem;
		border-style: solid;
		@include transition((color, border-color, background-color));
	}
	
	.button,
	[type="submit"] {
		@extend %button-defaults;
		color: $white;
		border-color: $primary;
		background-color: $primary;
		&:hover,
		&:focus {
			background-color: transparent;
			color: $primary;
		}
	}
}

@mixin ButtonClasses {
	@if($color-map) {
		.button {
			@each $color, $value in $color-map {
				&.button--#{$color} {
					@include button($value);
				}

				&.button--bordered--#{$color} {
					@include button($value, true);
				}
			}
		}
	}
}

@mixin Buttons {
	@include ButtonStyles;
	@include ButtonClasses;
}
