//------------------------------------------------------------------
// Colour Styles
//------------------------------------------------------------------

// List our styles we want to alter with our classes
$colour-styles: 'color', 'background-color', 'border-color', 'fill', 'stroke';

@mixin ColourStyles {
  // example @extend %background-color--primary;
  @each $color, $value in $color-map {
    @each $style in $colour-styles {
      %#{$style}--#{$color} {
        #{$style}: $value;
      }
    }
  }
}

@mixin ColourClasses($styles: $colour-styles) {
  // example .background-color--primary;
  @each $color, $value in $color-map {
    @each $style in $styles {
      @if ($style == 'color') {
        .colour--#{$color} {
          #{$style}: $value;
        }
      }@else {
        .#{$style}--#{$color} {
          #{$style}: $value;
        }
      }
    }
  }
}

@mixin Colours {
  @include ColourStyles;
  @include ColourClasses;
}