//------------------------------------------------------------------
// Input Styling
//------------------------------------------------------------------

@mixin FormStyles {
  form {
    display: block;
    width: 100%;
    fieldset {
      min-width: calc(100% + 4rem);
      max-width: calc(100% + 4rem);
      width: calc(100% + 4rem);
      margin: 0 -2rem;

      .input-wrap {
        display: block;
        position: relative;
        width: 100%;
        float: left;
        padding: 0 2rem;
        margin: 0 0 2rem;

        &--half {
          @include media($xmd) {
            width: 50%;
          }
        }
      }

      .optionset {
        list-style: none;
        padding: 0 2rem;

        li {
          padding: 0;

          &:before {
            content: none;
          }
        }
      }

      ul.optionset {
        padding: 0;
        width: 100%;
        margin: 2rem 0;
      }
    }

    label {
      display: block;
      margin-bottom: 1rem;
    }

    input,
    select, 
    textarea {
      @include font;
    }

    input:not([type="submit"]), 
    textarea {
      @extend %p;
      margin: 0;
      padding: 0 1rem;
      border: 0;
      border-bottom: .1rem solid rgba($text, .5);
      width: 100%;
      outline: none;
      background-color: transparent;
      vertical-align: bottom;
      @include transition(border-color);

      @include placeholder {
        color: $text;
        opacity: .5;
      }

      &:focus {
        border-bottom: .1rem solid rgba($text, 1);
        @include placeholder {
          opacity: 1;
        }
      }
    }

    input:not([type="submit"]) {
      height: 3em;
    }
    
    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      height: 0;
      width: 0;
      opacity: 0;

      + label {
        position: relative;
        padding-left: 4rem;
        cursor: pointer;

        &:before,
        &:after {
          content: '';
          position: absolute;
          top: 50%;
        }

        &:before {
          left: 0;
          height: 2rem;
          width: 2rem;
          border-radius: .3rem;
          border: .2rem solid $primary;
          transform: translateY(-50%);
        }

        &:after {
          left: .6rem;
          top: 50%;
          height: .8rem;
          width: .8rem;
          border-radius: .1rem;
          background-color: $primary;
          transform: translateY(-50%) scale(0);
          @include transition(transform, .1s);
        }
      }

      &:checked {
        + label {
          &:after {
            transform: translateY(-50%) scale(1);
          }
        }
      }
    }

    input[type="radio"] {

      + label {
        &:before,
        &:after {
          border-radius: 50%;
        }
      }
    }

    textarea {
      padding-top: .75em;
      min-width: 100%;
      max-width: 100%;
      width: 100%;
      resize: none;
      -webkit-appearance: none;
    }

    .btn-toolbar {
      margin-top: 2rem;
    }
  }
}