@mixin SpacingStyles($min: 5rem, $max: 10rem) {
  
  .contentBlock {
    position: relative;
    margin-top: $min;
    margin-bottom: $min;

    &--padding {
      margin-top: 0!important;
      margin-bottom: 0!important;

      padding-top: $min;
      padding-bottom: $min;
    }

    @include media($xmd) {
      margin-top: $max;
      margin-bottom: $max;
      
      &.extraSpace {
        margin-top: $max * 2;
        margin-bottom: $max * 2;
      }

      &--padding {
        padding-top: $max;
        padding-bottom: $max;

        &.extraSpace {
          padding-top: $max * 2;
          padding-bottom: $max * 2;
        }
      }
    }

    > .row {
      position: relative;
    }
  }
}