//------------------------------------------------------------------
// Tables

@mixin TableStyles {
  table {
    vertical-align: top;
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 3rem auto;

    tr {
      th {
        color: $white;
        border-color: $tertiary;
        background-color: $primary;
        font-family: $font-primary;
        font-weight: bold;
        padding: 1.2rem;
        border-width: .1rem;
        border-style: solid;
        text-align: left;
      }

      &:nth-child(even) {
        td {
          background-color: $off-white;
        }
      }

      td {
        color: $text;
        border-color: $tertiary;
        background-color: $white;
        border-width: .1rem;
        border-style: solid;
        padding: 1rem;
        text-align: left;
      }
    }
  }
}