#snappy{
	.functions{
		position:fixed;
		right:0;
		top:0;
		button{
			border:1px solid $green; 
			background:rgba($green, 0.4);
			color:$black;
			display:inline-block;
			margin:4px 1px;
			font-size:12px;
			outline:none;
			cursor:pointer;
			transition:all 120ms;
			&:hover{
				background:rgba($green, 0.7);
			}
		}
	}
}

$slow : all 480ms $easeInOutQuad;
$med : all 360ms $easeInOutQuad;
$fasr : all 120ms $easeInOutQuad;