.deleteModal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba($white, 0.9);
    transition: all 360ms;
    z-index: 9999;
    opacity: 0;
    transform: scale(0.8);
    visibility: hidden;
    &.active {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
        .wrap {
            opacity: 1;
            visibility: visible;
            transform: scale(1) translateY(-50%);
        }
    }
    .wrap {
        margin: 0 auto;
        left: 0;
        right: 0;
        max-width: 400px;
        transition: all 480ms;
        transition-delay: 120ms;
        background: white;
        box-shadow: $z5-shadow;
        opacity: 0;
        visibility: hidden;
        @include vertical-align;
        transform: scale(0.6) translateY(-80%);
        p {
            width: 100%;
            text-align: center;
            padding: 24px;
            @include font($h6);
        }
        button {
            margin-bottom: -1px;
            border: 0;
            outline: none;
            width: 50%;
            display: block;
            float: left;
            padding: 12px;
            @include font($p);
            @include regular;
        }
    }
}
