//==================================================================
// Dragula Styles
//==================================================================

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    &.sidebarModule{
        background:rgba($green, 1);
        margin-bottom:12px;
        @include aspect(3,1);
        -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
    }
    &.contentModule{
        height:auto !important;
        left:260px !important;
        -webkit-box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
        box-shadow: 0 0 40px 0 rgba(0,0,0,0.4);
    }
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.gu-transit.sidebarModule {
    width:100%;
    height:30px;
    transition:all 240ms;
    background:$grey-light !important;
    *{
        display:none;
    }
}

.gu-transit.contentModule {
    width:100%;
    height:0px;
    transition:all 240ms;
    background:$grey-light !important;
    *{
        display:none;
    }
}



