//==================================================================
// Dragula Styles
//==================================================================

.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    &.sidebarModule {
        background: white;
        @include aspect(3, 1);
        box-shadow: $z3-shadow;
        .moduleEdit {
            display: none !important;
        }
    }
    &.contentModule {
        opacity: 0.9;
        background: white;
        height: auto !important;
        box-shadow: $z5-shadow;
        position: absolute;
    }
}

.gu-mirror.contentModule {
    left: 0 !important;
}
.sidebarOpen {
    .gu-mirror.contentModule {
        left: 260px !important;
    }
}

.gu-hide {
    display: none !important;
}

.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}

.gu-transit.sidebarModule {
    width: 100%;
    height: 50px;
    transition: all 240ms;
    background: $green !important;
    opacity: 0.8;
    * {
        display: none;
    }
    .moduleEdit {
        display: none !important;
    }
}

.gu-transit.contentModule {
    width: 100%;
    height: 50px;
    transition: all 240ms;
    background: $green !important;
    opacity: 0.8;
    * {
        display: none;
    }
    .moduleEdit {
        display: none !important;
    }
}



