//==================================================================
// Blockquote
//==================================================================

.blockquote {
    @include clearfix;
    blockquote {
        margin: 48px auto;
        max-width: 868px;
        border-left: 5px solid $green;
        padding-left: 24px;
        width: calc(100% - 72px);
        h6 {
            @include lora-regular;
            position: relative;
            line-height: 1.4;
            @include font($h5);
            font-style: italic;
        }
        span.attribution {
            @include font($h6);
            @include bold;
            float: right;
            margin: 0 0 1px 0;
            position: relative;
            z-index: 1;
        }
    }
}