//==================================================================
// Blockquote
//==================================================================

.imageText {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
    }
    img {
        margin-right: 24px;
        margin-bottom: 24px;
        width: 100%;
        height: auto;
        float: left;
        @include media($md) {
            max-width: percentage(2/5);
        }
    }
    p {
        padding: 3px 6px;
        margin: 6px 0 12px;
        @include font($p);
        @include regular;
    }
    strong, b {
        @include bold;
    }
    i {
        font-style: italic;
    }
}