//==================================================================
// Divider
//==================================================================

.divider {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
        text-align: center;
        padding: 48px 0;
        display: block;
        hr {
            border: 0;
            height: 3px;
            background: $grey;
            display: block;
            width: 60%;
        }
    }
}