//==================================================================
// Blockquote
//==================================================================

.columnText {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
    }
    .column {
        display: block;
        float: left;
        width: percentage(1/1);
        @include media($md) {
            padding-right: 24px;
            width: percentage(1/3);
            &.last {
                padding-right: 0;
            }
        }
    }
}