//==================================================================
// Divider
//==================================================================

.divider {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
        text-align:center;
        hr{
            border:0;
            margin:48px auto;
            height:3px;
            background:$off-white;
            display:block;
            width:60%;
        }
    }
}