//==================================================================
// Blockquote
//==================================================================

.trippleImage {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
    }
    .wrapExpander {
        margin: 0 -12px;
    }
    .column {
        display: block;
        float: left;
        width: percentage(1/1);
        img {
            width: 100%;
        }
        @include media($md) {
            margin: 0 12px;
            width: calc(33.3333333% - 24px);
            &.last {
            }
        }
    }
}