//==================================================================
// Blockquote
//==================================================================

.image {
    @include clearfix;
    margin: 0 auto;
    .wrap {
        @include clearfix;
        max-width: $max-width;
        margin: 0 auto;
        padding: 24px;
    }
    p {
        padding: 3px 6px;
        margin: 6px 0 12px;
        @include font($p);
        @include regular;
    }
    strong, b {
        @include bold;
    }
    i {
        font-style: italic;
    }
    [contenteditable=true] {
        outline-offset: 0;
    }
}