$sidebar-width: 274px;
$sidebar: rgba($blue-dark, 0.9);
#snappySidebar {
    position: fixed;
    background: $sidebar;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 9;
    width: $sidebar-width;
    transform: translateX(-$sidebar-width);
    transition: $med;
}

#modules {
    padding: 12px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    .module {
        background: white;
        margin-bottom: 12px;
        display: block;
        position: relative;
        img {
            width: 100%;
        }
        * {
            @include extra-bold;
        }
    }
    #scroll {
        height: 100%;
        width: 100%;
        position: relative;
    }
}

.sidebarOpen {
    #snappySidebar {
        box-shadow: $side-z5-shadow;
        transform: translateX(0);
        .sidebar-handle i {
            transform: rotate(180deg);
        }
    }
}

.textEditor {
    #wysiwyg {
        box-shadow: $z3-shadow;
        transform: translateY(-20px) !important;
    }
}


