$sidebar-width: 260px;
#snappySidebar {
    position: fixed;
    background: #d9d9d9;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 9;
    width: $sidebar-width;
    transform: translateX(-$sidebar-width);
    transition: $med;
}

#modules {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px;
    .module {
        background: white;
        margin-bottom: 12px;
        @include aspect(3, 1);
    }
}

.sidebarOpen {
    #snappySidebar {
        box-shadow: $side-z1-shadow;
        transform: translateX(0);
    }
    #snappyContent {
        transform: translateX($sidebar-width);
        width: calc(100% - #{$sidebar-width}) !important;
    }
    #wysiwyg {
        transform: translateX(120px) translateY(0);
        box-shadow: $z3-shadow;

    }
}


