#snappy{
	width:100%;
	height:100%;
	#snappyContent{
		transition:$med;
		width:100%;
		height:100%;
	}
}

.contentModule{
	@include aspect(6, 1);
	background:rgba($green, 0.4);
	padding:24px;
	transition:$med;
}