#snappy{
	width:100%;
	height:100%;
	#snappyContent{
		transition:$med;
		width:100%;
		height:100%;
		padding-top:100px;
	}
}

.contentModule{
	padding:24px;
}

[contenteditable=true]:focus {
	outline:1px dashed rgba($grey,0.5);
}

.editMode{
	outline:1px solid rgba($green,0.5); 
	outline-offset:-1px;
}