//==================================================================
// WYSIWYG
//==================================================================

#wysiwyg {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 600px;
    bottom: 20px;
    transform: translateX(0px) translateY(80px);
    background: rgba($blue-dark, 0.9);
    border-radius: 3px;
    text-align: center;
    z-index: 9999;
    transition: all 480ms;
    button {
        outline: none;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding: 3px;
        i {
            color: $white;
            font-size: 24px;
        }
    }
    a {
        font-size: 0;
        color: $white;
        position: relative;
        &:hover {
            ul {
                opacity: 1;
                visibility: visible;
            }
        }
        ul {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            bottom: 28px;
            width: 160px;
            left: 0;
            border-top: 2px solid transparent;
            margin-top: 0;
            li {
                background: lighten(#e1e1e1, 5%);
                text-align: left;
                button {
                    padding: 3px 12px;
                    @include font($p);
                    &[data-action="h1"] {
                        @include extra-bold;
                    }
                    &[data-action="h1"] {
                        @include extra-bold;
                    }
                    &[data-action="h2"] {
                        @include bold;
                    }
                    &[data-action="h3"] {
                        @include bold;
                    }
                    &[data-action="h4"] {
                        @include semi;
                    }
                    &[data-action="h5"] {
                        @include semi;
                    }
                    &[data-action="h6"] {
                        @include regular;
                    }
                    &[data-action="p"] {
                        @include light;
                    }
                }
            }
        }
    }
}

#output {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 300px;
    width: 600px;
    border: 1px solid red;
}