//------------------------------------------------------------------
// Site wide colour variables
// ------------------------------------------------------------------

$yellow-light: #f1c40f;
$yellow-dark: #f39c12;

$green-light: #2ecc71;
$green-dark: #27ae60;

$red-light: #e74c3c;
$red-dark: #c0392b;

$pink-light: #ea148c;
$pink-dark: #b7106d;

$blue-light: #3498db;
$blue-dark: #2980b9;

$purple-light: #9b59b6;
$purple-dark: #8e44ad;

$white: #fff;
$off-white: #f8f6f7;

$grey-light: #ddd;
$grey-mid: #7a7a7a;
$grey-dark: #333;

$black-light: #19191a;
$black: #000;
$black-dark: #000;

//------------------------------------------------------------------
// Font Colurs
// ------------------------------------------------------------------

$text: $black-light;
$text-light: $black-light;
$primary: $blue-dark;
$secondary: $green-dark;
$tertiary: $blue-light;
