/*------------------------------------------------------------------
WYSIWYG Styles
------------------------------------------------------------------*/

.wysiwyg {
    .subtitle {
        color: $primary;
        text-align: center;
        display: block;
        margin: 3rem auto;
        @include bold;
        @include media($md) {
            margin: 6rem auto;
        }
        @include clearfix;
        text-transform: uppercase;
        position: relative;
        font-size: 2rem;
        &:before {
            @include pseudo;
            @include vertical-align;
            left: 0;
            width: 50%;
            height: 2px;
            background: $primary;
        }
        span {
            background: $white;
            display: inline-block;
            padding: 0 1rem;
            position: relative;
            z-index: 2;
        }
    }
    hr {
        margin: 1rem auto 2rem;
        display: block;
        border: 0;
        border-bottom: 2px solid $primary;
    }
    ol, ul {
        padding-left: 4rem;
        li {
            position: relative;
            &:before {
                @include pseudo;
                width: 5px;
                height: 5px;
                background: $primary;
                top: 1rem;
                left: -1.3rem;
            }
        }
    }

    p, li {
        margin: 1.6rem 0;
        line-height: 1.6;
        color: $text-light;
        a {
            color: $primary;
            text-decoration: none;
            @include active {
                text-decoration: underline;
            }
        }
    }

    i, em {
        font-style: italic;
    }

    strong, b {
        font-weight: bold;
    }

    blockquote {
        margin: 3rem;
        padding: 0 2rem;
        border-left: 4px solid $primary;
        p {
            margin: 0;
            @extend .h5;
        }
    }
}