//==================================================================
// Base featherlight Styles
//==================================================================

.featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    background: black;
    background: rgba(black, 0);
}

.featherlight:last-of-type {
    background: rgba(black, 0.8);
}

.featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.featherlight .featherlight-content {
    position: relative;
    text-align: left;
    vertical-align: middle;
    display: inline-block;
    overflow: auto;
    padding: 25px 25px 0;
    border-bottom: 25px solid transparent;
    min-width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    max-height: 95%;
    background: white;
    cursor: auto;
    white-space: normal;
}

.featherlight .featherlight-inner {
    display: block;
}

.featherlight .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    line-height: 25px;
    width: 25px;
    cursor: pointer;
    text-align: center;
    background: white;
    background: rgba(white, 0.3);
    color: black;
}

.featherlight .featherlight-image {
    width: 100%;
}

.featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
}

.featherlight iframe {
    border: none;
}

@include media($lg, max) {
    .featherlight .featherlight-content {
        margin-left: 10px;
        margin-right: 10px;
        max-height: 98%;
        padding: 10px 10px 0;
        border-bottom: 10px solid transparent;
    }
}

.featherlight-next,
.featherlight-previous {
    display: block;
    position: absolute;
    top: 25px;
    right: 25px;
    bottom: 0;
    left: 80%;
    cursor: pointer;
    user-select: none;
    background: rgba(black, 0);
}

.featherlight-previous {
    left: 25px;
    right: 80%;
}

.featherlight-next:hover,
.featherlight-previous:hover {
    background: rgba(white, 0.25);
}

.featherlight-next span,
.featherlight-previous span {
    display: none;
    position: absolute;
    top: 50%;
    left: 5%;
    width: 82%;
    text-align: center;
    font-size: 80px;
    line-height: 80px;
    margin-top: -40px;
    text-shadow: 0px 0px 5px white;
    color: white;
    font-style: normal;
    font-weight: normal;
}

.featherlight-next span {
    right: 5%;
    left: auto;
}

.featherlight-next:hover span,
.featherlight-previous:hover span {
    display: inline-block;
}

.featherlight-loading .featherlight-previous, .featherlight-loading .featherlight-next {
    display: none;
}

@include media(max $lg, maxpx) {
    .featherlight-next:hover,
    .featherlight-previous:hover {
        background: none;
    }
    .featherlight-next span,
    .featherlight-previous span {
        display: block;
    }
}

@include media($lg, max) {
    .featherlight-next,
    .featherlight-previous {
        top: 10px;
        right: 10px;
        left: 85%;
    }

    .featherlight-previous {
        left: 10px;
        right: 85%;
    }

    .featherlight-next span,
    .featherlight-previous span {
        margin-top: -30px;
        font-size: 40px;
    }
}
