//==================================================================
// Toast Notifications
//==================================================================
$close-size: 12px;

$notificationTypes: (
        error: #F78D8C,
        success: #A8D3AA,
        warning: #FFD479,
        standard: #323232
);

.notify {
    display: inline-block;
    position: fixed;
    padding: 14px 14px 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 3px;
    font-size: 14px;
    cursor: default;
    transition: visibility 300ms, transform 300ms, box-shadow 240ms;
    visibility: hidden;
    cursor: pointer;
    color: white;
    &:hover {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.3);
        .close {
            transform: scale(1.2);
        }
    }
    .close {
        transform: translatez(0);
        position: relative;
        display: inline-block;
        width: $close-size;
        height: $close-size;
        border-radius: $close-size;
        background: white;
        vertical-align: middle;
        margin-left: 12px;
        transition: all 120ms $easeInOutQuad;
        &:before, &:after {
            @include pseudo;
            display: block;
            width: 8px;
            height: 2px;
            top: 5px;
        }
        &:before {
            transform: rotate(-45deg);
            left: 2px;
        }
        &:after {
            transform: rotate(45deg);
            right: 2px;
        }
    }
    &[data-position="top"] {
        transform: translateY(-100px);
    }
    &[data-position="bottom"] {
        transform: translateY(100px);
    }
    &.visible {
        visibility: visible;
        transform: translateY(0px);
    }
    @each $type, $color in $notificationTypes {
        &[data-type="#{$type}"] {
            background: $color;
            .close:before, .close:after {
                background: $color;
            }
        }
    }
}
