//==================================================================
// Range Slider Styles
//==================================================================
$rangeslider: ".rangeslider";
$rangeslider--horizontal: ".rangeslider--horizontal";
$rangeslider--vertical: ".rangeslider--vertical";
$rangeslider--disabled: ".rangeslider--disabled";
$rangeslider__fill: ".rangeslider__fill";
$rangeslider__handle: ".rangeslider__handle";

#{$rangeslider},
#{$rangeslider__fill} {
    display: block;
    border-radius: 10px;
}

#{$rangeslider} {
    position: relative;
    border-radius: 10px;
    height: 5px;
    border: 1px solid rgba($white, 0.13);
    background: rgba($white, 0.1);
}

#{$rangeslider--horizontal} {
    height: 20px;
    width: 100%;
}

#{$rangeslider--vertical} {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
}

#{$rangeslider--disabled} {
}

#{$rangeslider__fill} {
    background-image: linear-gradient(to right, $blue, $red);
    height: 5px;
    top: -1px;
    position: absolute;
    left: -1px;
    #{$rangeslider--horizontal} & {
        top: 0;
        height: 100%;
    }
    #{$rangeslider--vertical} & {
        bottom: 0;
        width: 100%;
    }
}

#{$rangeslider__handle} {
    background: $red;
    cursor: pointer;
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    border-radius: 100px;
    top: -5px;
    &:active {
    }

    #{$rangeslider--horizontal} & {
        top: -10px;
        touch-action: pan-y;
        -ms-touch-action: pan-y;
    }

    #{$rangeslider--vertical} & {
        left: -10px;
        touch-action: pan-x;
        -ms-touch-action: pan-x;
    }
}

input[type="range"]:focus + #{$rangeslider} #{$rangeslider__handle} {
}