//==================================================================
// SelectOrDie Styles
//==================================================================
.sod_select,
.sod_select * {
  user-select: none;
}

.sod_select {
  display: inline-block;
  position: relative;
  line-height: 1;
  width: 100%;
  padding: 14px 20px;
  border: 1px solid $grey-light;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.sod_select:before,
.sod_select:after {
  content: "\f078";
  position: absolute;
  font-family: 'FontAwesome';
  right: 10px;
  top: 10px;
  font-size: 12px;
}

.sod_select:hover,
.sod_select.open,
.sod_select.focus {
}

.sod_select.open {
  color: #919191;
}

.sod_select.focus {
}

.sod_select.disabled {
  border-color: #828282;
  color: #b2b2b2;
  cursor: not-allowed;
}

.sod_select .sod_label {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.sod_select .sod_list_wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  height: auto;
  width: 100%;
  background: #ffffff;
  outline: 1px solid #000000 !important;
  border-top: none;
  color: $black;
  font-weight: 300;
  z-index: 1;
  margin-top: 6px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.sod_select.open .sod_list_wrapper {
  display: block;
}

.sod_select.disabled.open .sod_list_wrapper {
  display: none;
}

.sod_select.above .sod_list_wrapper {
  top: auto;
  bottom: 100%;
  border-top: 3px solid #000000;
  border-bottom: none;
}

.sod_select .sod_list {
  display: block;
  overflow-y: auto;
  padding: 0;
  margin: 0;
}

.sod_select .sod_option {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  position: relative;
  padding: 10px 10px;
  list-style-type: none;
}

.sod_select .sod_option.optgroup,
.sod_select .sod_option.optgroup.disabled {
  background: inherit;
  color: #939393;
  font-size: 10px;
  font-style: italic;
}

.sod_select .sod_option.groupchild {
  padding-left: 20px;
}

.sod_select .sod_option.is-placeholder {
  display: none;
}

.sod_select .sod_option.disabled {
  background: inherit;
  color: #cccccc;
}

.sod_select .sod_option.active {
  background: #f7f7f7;
  color: #333333;
}

.sod_select .sod_option.selected {
  font-weight: 700;
  padding-right: 25px;
}

.sod_select .sod_option.selected:before {
  content: "\f00c";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: #808080;
  font-family: 'FontAwesome';
  height: 9px;
  width: 10px;
}

.sod_select.no_highlight .sod_option.selected {
  font-weight: 300;
}

.sod_select.no_highlight .sod_option.selected:before {
  display: none;
}

.sod_select select {
  display: none !important;
}

.sod_select.touch select {
  -webkit-appearance: menulist-button;
  position: absolute;
  top: 0;
  left: 0;
  display: block !important;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1;
}
