//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------

.accordionBlock {
	&__wrap {
		&__item {
			// border-color: rgba($primary, .2);
			border-width: 0 0 .2rem 0;
			border-style: solid;

			&:first-child {
				border-width: .2rem 0;
			}

			&__heading {
				display: block;
				position: relative;
				padding-right: 6rem;
				padding-top: $gutterWidth;
				padding-bottom: $gutterWidth;

				&__title {
					// color: $primary;
					margin-bottom: 0;
				}
				
				&.js-active {
					.plus {
						&:first-of-type {
							transform: translateY(-50%) scaleX(-1);
						}
						&:last-of-type {
							transform: translateY(-50%) rotate(90deg) scaleX(0);
						}
					}
				}

				.plus {
					// background-color: $primary;
					position: absolute;
					right: 0;
					top: 50%;
					height: .2rem;
					width: 2rem;
					@include transition(transform);

					&:first-of-type {
						transform: translateY(-50%);
					}

					&:last-of-type {
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}

			&__content {
				display: none;
				padding: 0 2rem 2rem;

				:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}