//------------------------------------------------------------------
// Accordion Block
//------------------------------------------------------------------

.accordionBlock {
	&__wrap {
		&__item {
			border-color: rgba($primary, .2);
			border-width: 0 0 .2rem 0;
			border-style: solid;

			&:first-child {
				border-width: .2rem 0;
			}

			&__heading {
				display: block;
				position: relative;
				padding-right: 8rem;
				padding-left: $gutterWidth;
				padding-top: $gutterWidth;
				padding-bottom: $gutterWidth;
				@include transition(background-color);

				&.js-active {
					background-color: $off-white;
				}

				&__title {
					color: $primary;
					margin-bottom: 0;
				}
				
				&.js-active {
					.plus {
						&:first-of-type {
							transform: translateY(-50%) scaleX(-1);
						}
						&:last-of-type {
							transform: translateY(-50%) rotate(90deg) scaleX(0);
						}
					}
				}

				.plus {
					background-color: $primary;
					position: absolute;
					right: 2rem;
					top: 50%;
					height: .2rem;
					width: 2rem;
					@include transition(transform);

					&:first-of-type {
						transform: translateY(-50%);
					}

					&:last-of-type {
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}

			// .js-accordion--target {
			// 	overflow: hidden;

			// }

			.js-accordion--trigger {
				&:not(.js-active) {

					+ .js-accordion--target {
						height: 0!important;
					}
				}
			}

			&__content {
				// display: none;
				padding: 2rem;

				:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}