//------------------------------------------------------------------
// Content Block
//------------------------------------------------------------------

.contentBlock {
  @include clearfix;
  margin: 4rem auto;

  @include media($md, max) {
    margin: 2rem auto;
  }

  &__wrap {
    padding: 0 2rem;
    max-width: $xmd;
    display: block;
    margin: 0 auto;
    position: relative;
  }
}