//------------------------------------------------------------------
// Download Block
//------------------------------------------------------------------

.downloadBlock {
	&__wrap {
		&__item {
			display: block;
			border-width: 0 0 .2rem 0;
			border-style: solid;
			border-color: rgba($primary, .2);
			text-align: left;
			// margin-bottom: $gutterWidth * 2;


			@include active {
				.title {
					color: $primary;
				}
			}

			&:first-child {
				border-width: .2rem 0;
			}

			&__media {
				@include cover;
				padding-bottom: 75%;
			}

			&__heading {
				display: block;
				position: relative;
				padding-left: 6rem;
				padding-top: $gutterWidth;
				padding-bottom: $gutterWidth;

				&__title {
					color: $text;
					margin-bottom: 0;
					@include transition(color);
				}

				.icon {
					@include svg(33,42);
					position: absolute;
					top: 50%;
					left: 0;
					width: 3.3rem;
					transform: translateY(-50%);

					svg {
						path {
							fill: $text;
						}
					}
				}
			}
		}
	}
}