//------------------------------------------------------------------
// Download Block
//------------------------------------------------------------------

.downloadBlock {
	&__wrap {
		&__item {
			display: block;
			border-width: 0 0 .2rem 0;
			border-style: solid;
			border-color: rgba($primary, .2);
			text-align: left;
			margin-bottom: $gutterWidth * 2;

			// &:first-child {
			// 	border-width: .1rem 0;
			// }

			&__media {
				@include cover;
				padding-bottom: 75%;
			}

			&__heading {
				display: block;
				position: relative;
				padding-right: 6rem;
				padding-top: $gutterWidth;
				padding-bottom: $gutterWidth;

				&__title {
					color: $primary;
					margin-bottom: 0;
				}

				.icon {
					@include svg(20,16);
					position: absolute;
					bottom: $gutterWidth;
					right: 0;
					width: 2rem;
					transform: translateY(-50%);
				}
			}
		}
	}
}