//------------------------------------------------------------------
// Gallery Block
//------------------------------------------------------------------

.galleryBlock {
	&__wrap {
		&__item {
			display: block;
			margin-bottom: $gutterWidth * 2;
			&__media {
				width: 100%;
				height: auto;
			}
		}
	}
}

.galleryModal {
	&__wrap {
		&__content {
			&__item {
				@include cover;
				padding-bottom: 60%;
			}
		}
	}
}