//------------------------------------------------------------------
// Gallery Block
//------------------------------------------------------------------

.galleryBlock {
	&__wrap {
		&__item {
			display: block;
			margin-bottom: $gutterWidth * 2;
			&__media {
				width: 100%;
				height: auto;
			}
		}
	}
}

.galleryModal {
	display: none;
	@include pos(fixed, 0);
	z-index: 1000;
	padding: 10rem 0 5rem;
	overflow: auto;
	background-color: rgba($white, .9);

	&__wrap {
		// overflow: hidden;
		height: 100%;

		&__content {

			&__slider {

				&__item {

					&__media {
						@include contain;
						padding-bottom: 56.25%;

						&.js-embed {
							@include videoEmbed;
						}
					}
				}
			}
		}
	}

	.js-close {
		@include closeBtn(4rem, .4rem, $primary);
	}
}