//------------------------------------------------------------------
// Hero
//------------------------------------------------------------------

.heroBlock {
  position: relative;
  overflow: hidden;

  .height {
    height: 40rem;
  }

  .slick-dots {
    bottom: 2rem;
  }

  &__item {
    position: relative;
    overflow: hidden;
    @include overlay($black, .2);

    &__background {
      @include cover;
      position: absolute;
      top: -5rem;
      left: 0;
      right: 0;
      bottom: -5rem;
      width: 100%;

    }

    &__wrap {
      position: relative;
      z-index: 1;
      height: 65rem;
      padding-top: 20rem;
      padding-bottom: 20rem;

      @include media($xmd) {
        height: 100rem;
      }

      &__content {
        color: $white;
        position: relative;
        opacity: 1;
        @include transition(opacity, 3s);

        a {
          color: $white;
        }
        
        @include media($xmd) {
          p {
            font-size: 2.2rem;
          }
        }

        :last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}