//------------------------------------------------------------------
// Percentage
//------------------------------------------------------------------

.percentageBlock {

  &__wrap {

    &:not(.collapse) {
      padding-left: $gutterWidth;
      padding-right: $gutterWidth;
    }

    &__item {
      position: relative;
      padding-top: 5rem;
      padding-bottom: 5rem;

      &__media {
        @include pos(absolute, 0);
        @include cover;
      }

      @include media($xmd, max) {
        padding-left: $gutterWidth!important;
        padding-right: $gutterWidth!important;
      }

      @include media($xmd) {
        padding-left: 5rem!important;
        padding-right: 5rem!important;
        .media.full-width {
          width: calc(50vw - #{$gutterWidth});

          &.left {
            left: auto;
          }

          &.right {
            right: auto;
          }
        }
      }

      @include media($globalWidthPX) {
        .media.full-width {
          width: calc(100% + 50vw - #{$globalWidth / 2});
        }
      }

      &__content {
        position: relative;

        &__heading,
        &__body {
          margin-bottom: $gutterWidth;
        }
      }
    }
  }
}