//------------------------------------------------------------------
// Slider Block
//------------------------------------------------------------------

.sliderBlock {
	&__wrap {
		&__slider {
			position: relative;
			margin-bottom: $gutterWidth;

			&__item {
				&__media {
					width: 100%;
					padding-bottom: 56.25%;
					@include contain;
				}
			}
		}

		&__nav {
			&__item {
				padding: 0 $gutterWidth 0 0;
				opacity: 0.5;
				@include transition(opacity);
				
				@include active(tns-slide-current) {
					opacity: 1;
				}

				&__media {
					@include cover;
					cursor: pointer;
					width: 100%;
					padding-bottom: 100%;
				}
			}
		}
	}
}