//------------------------------------------------------------------
// Tab Block
//------------------------------------------------------------------

.tabBlock {
	&__wrap {
		&__tabs {

			&__option {
				border-color: $primary;
				border-style: solid;
				border-radius: 0;
				border-width: 0 .2rem;
				margin-bottom: 0;

				&:first-child {
					border-radius: .2rem .2rem 0 0;
					border-width: .2rem .2rem 0;
				}

				&:last-child {
					border-radius: 0 0 .2rem .2rem;
					border-width: 0 .2rem .2rem;
				}

				&:only-child {
					border-radius: .2rem;
					border-width: .2rem;
				}

				&__link {
					display: block;
					padding: 1rem;
					@include transition((background-color, color));

					&.js-active {
						color: $white;
						background-color: $secondary;
						cursor: default;
					}

					&:not(.js-active) {
						@include active {
							background-color: rgba($secondary, .3);
						}
					}

				}
			}
		}

		&__content {
			@include media($lg) {
				padding-left: 10rem;
			}

			&__item {
				display: none;

				&.js-active {
					display: block;
				}
			}
		}
	}
}