//------------------------------------------------------------------
// Tab Block
//------------------------------------------------------------------

.tabBlock {
	&__wrap {
		&__tabs {
			margin-bottom: $gutterWidth * 2;

			&__option {
				margin-bottom: 0;

				&__link {
					display: block;
					padding: 1rem 2rem;
					@include font(700);

					box-shadow: inset .4rem 0 0 0 rgba($primary, .2);
					@include transition((box-shadow, background-color));

					&.js-active {
						background-color: rgba($primary, .05);
						box-shadow: inset .4rem 0 0 0 $primary;
						cursor: default;
					}

					&:not(.js-active) {
						@include active {
							box-shadow: inset .4rem 0 0 0 $primary;
						}
					}

				}
			}
		}

		&__content {
			position: relative;
			@include media($lg) {
				padding-left: 10rem;
			}

			&__item {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				opacity: 0;

				@include media($lg) {
					left: 10rem;
				}

				@include transition((opacity, z-index));

				&.js-active {
					position: relative;
					opacity: 1;
					z-index: 10;
					left: 0;
				}
			}
		}
	}
}