//------------------------------------------------------------------
// Testimonial Block
//------------------------------------------------------------------

.testimonialBlock {
  margin: 4rem auto;

  &__wrap {

    &__icon {
      display: block;
      margin-bottom: 2rem;

      path {
        fill: $primary;
      }
    }

    &__content {
      @include light;
      margin: 3rem auto;
      color: $text-light;
    }

    &__credit {
      @include bold;
      color: $primary;
    }
  }
}