@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

  %icon-check-checked,
  .icon-check-checked {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-check-disabled,
  .icon-check-disabled {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-check-focus,
  .icon-check-focus {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-check,
  .icon-check {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-checkbox-checked,
  .icon-checkbox-checked {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-checkbox-focused,
  .icon-checkbox-focused {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-checkbox-unchecked,
  .icon-checkbox-unchecked {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio-checked,
  .icon-radio-checked {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio-disabled,
  .icon-radio-disabled {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio-focus,
  .icon-radio-focus {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio-focused,
  .icon-radio-focused {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio-unchecked,
  .icon-radio-unchecked {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

  %icon-radio,
  .icon-radio {
    background-image: url('../dist/images/sprites/sprite@2x.png');
    background-size: (100 ) + px (98 ) + px;
  }

}


