@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-resolution: 240dpi) {

  %icon-checkbox-checked,
  .icon-checkbox-checked {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

  %icon-checkbox-focused,
  .icon-checkbox-focused {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

  %icon-checkbox-unchecked,
  .icon-checkbox-unchecked {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

  %icon-radio-checked,
  .icon-radio-checked {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

  %icon-radio-focused,
  .icon-radio-focused {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

  %icon-radio-unchecked,
  .icon-radio-unchecked {
    background-image: url('../images/sprites-retina.png');
    background-size: (144 / 2) + px (96 / 2) + px;
}

}
