//------------------------------------------------------------------
// Login Page
//------------------------------------------------------------------

.loginWrap {
  @include full;
  position: fixed;
  background: radial-gradient(circle, $grey-mid, $grey-dark);

  &__content {
    @include vertical-center;
    background: $white;
    width: 90%;
    max-width: 40rem;
    padding: 0 4rem 4rem;
    box-shadow: $z5;

    &__logo {
      @include svg(770, 180);
      position: relative;
      text-align: center;
      margin: 3rem auto;
      max-width: 20rem;
    }

    .action {
      @extend %button;
      width: 100%;
    }

    #BackToLogin,
    #ForgotPassword {
      background: $grey-light;
      margin: 2rem -4rem -4rem;
      width: calc(100% + 8rem);
      padding: 1rem 1.5rem 1.5rem;
      text-align: center;

      a {
        color: $text;
      }
    }
  }

}





