//------------------------------------------------------------------
// Search Results Page
//------------------------------------------------------------------

.searchResultsHeader {
  margin: 4rem auto;
}

.searchResults {

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
  }

  &__item {
    padding: 0 1rem 2rem;
    position: relative;
    margin-bottom: 4rem;
    width: 100%;

    @include media($sm) {
      width: 50%;
    }

    @include media($md) {
      width: 33.33333%;
    }

    &:after {
      @include pseudo;
      bottom: 0;
      left: 1rem;
      right: 1rem;
      border-bottom: 2px solid $off-white;
    }

    h6 a {
      @include regular;
      text-decoration: none;
      color: $text;
    }
  }
}
