//==================================================================
// Colours
//==================================================================

$yellow: #f1d96b;
$white: #ffffff;
$off-white: #d1d1d3;
$grey: #67686c;
$off-white: #f8f6f7;
$grey-light: #b0b0b0;
$green-light: #7cca90;
$green: #2eb150;
$green-dark: #248a3e;
$red: #ec4c68;
$pink: #ea148c;
$pink-dark: #b7106d;
$blue-light: #48c2ed;
$blue: #00afec;
$blue-dark: #0089b8;
$purple: #35366C;
$brown: #886747;

$grey-light: #b9b7b7;
$grey: #7a7a7a;
$grey-dark: #333;

$black-light: #1f2025;
$black-mid: #1c1d22;
$black: #000000;

//==================================================================
// Breakpoints
//==================================================================

$xxs: 480px;
$xs: 540px;
$sm: 640px;
$md: 768px;
$xmd: 968px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1920px;
