$base: 10px;

$breakpoints: (
    $xxs: 480px,
    $xs: 540px,
    $sm: 640px,
    $md: 768px,
    $lg: 1024px,
    $xl: 1280px,
    $xxl: 1920px
    );

$h1: (
    null: ceil(($base * 6.4)) * 0.6,
    480px: ceil(($base * 6.4)) * 0.7,
    768px: ceil(($base * 6.4)) * 0.8,
    992px: ceil(($base * 6.4)) * 0.9,
    1200px: ceil(($base * 6.4)) * 1.0,
    1600px: ceil(($base * 6.4)) * 1.0
    );

$h2: (
    null: ceil(($base * 5.2)) * 0.8,
    480px: ceil(($base * 5.2)) * 0.8,
    768px: ceil(($base * 5.2)) * 0.8,
    992px: ceil(($base * 5.2)) * 0.9,
    1200px: ceil(($base * 5.2)) * 1.0,
    1600px: ceil(($base * 5.2)) * 1.0
    );

$h3: (
    null: ceil(($base * 4.5)) * 0.8,
    480px: ceil(($base * 4.5)) * 0.8,
    768px: ceil(($base * 4.5)) * 0.8,
    992px: ceil(($base * 4.5)) * 0.9,
    1200px: ceil(($base * 4.5)) * 1.0,
    1600px: ceil(($base * 4.5)) * 1.0
    );

$h4: (
    null: ceil(($base * 3)) * 0.8,
    480px: ceil(($base * 3)) * 0.8,
    768px: ceil(($base * 3)) * 0.8,
    992px: ceil(($base * 3)) * 0.9,
    1200px: ceil(($base * 3)) * 1.0,
    1600px: ceil(($base * 3)) * 1.0
    );

$h5: (
    null: ceil(($base * 2.6)) * 0.8,
    480px: ceil(($base * 2.6)) * 0.8,
    768px: ceil(($base * 2.6)) * 0.8,
    992px: ceil(($base * 2.6)) * 0.9,
    1200px: ceil(($base * 2.6)) * 1.0,
    1600px: ceil(($base * 2.6)) * 1.0
    );

$h6: (
    null: ceil(($base * 1.9)) * 0.8,
    480px: ceil(($base * 1.9)) * 0.8,
    768px: ceil(($base * 1.9)) * 0.8,
    992px: ceil(($base * 1.9)) * 0.9,
    1200px: ceil(($base * 1.9)) * 1.0,
    1600px: ceil(($base * 1.9)) * 1.0
    );

$p: (
    null: ceil(($base * 1.7)) * 0.8,
    480px: ceil(($base * 1.7)) * 0.8,
    768px: ceil(($base * 1.7)) * 0.8,
    992px: ceil(($base * 1.7)) * 0.9,
    1200px: ceil(($base * 1.7)) * 1.0,
    1600px: ceil(($base * 1.7)) * 1.0
    );

$span: (
    null: ceil(($base * 1.7)) * 0.8,
    480px: ceil(($base * 1.7)) * 0.8,
    768px: ceil(($base * 1.7)) * 0.8,
    992px: ceil(($base * 1.7)) * 0.9,
    1200px: ceil(($base * 1.7)) * 1.0,
    1600px: ceil(($base * 1.7)) * 1.0
    );

@mixin font($fs-map, $fs-breakpoints: $breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            @include make-font-size($fs-font-size);
        } @else {
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                @include make-font-size($fs-font-size);
            }
        }
    }
}

@mixin make-font-size($fs-font-size) {
    @if type-of($fs-font-size) == "list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    } @else {
        font-size: $fs-font-size;
    }
}

//==================================================================
// Typograpgy settings
//==================================================================

html, body {
    height: 100%;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

@mixin lora-regular {
    font-family: 'Lora', serif;
    font-weight: 300;
}

@mixin lora-bold {
    font-family: 'Lora', serif;
    font-weight: 700;
}

@mixin light {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

@mixin regular {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

@mixin semi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

@mixin bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

@mixin extra-bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

/** =========================================
 * Typography
 ===========================================*/

 h1 {
    @include font($h1);
    @include extra-bold;
}

h2 {
    @include font($h2);
    @include extra-bold;
}

h3 {
    @include font($h3);
    @include extra-bold;
}

h4 {
    @include font($h4);
    @include extra-bold;
}

h5 {
    @include font($h5);
    @include extra-bold;
}

h6 {
    @include font($h6);
}

p, li {
    @include font($p);
}

span {
    @include font($span);
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

p, li {
    line-height: 1.4;
}

.vertical {
    @include vertical-align;
    &.center {
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
    }
}

.uppercase {
    text-transform: uppercase;
}