//------------------------------------------------------------------
// Typography variables
//------------------------------------------------------------------

$base: 10px;

//------------------------------------------------------------------
// Declare our font-familys

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

$font-primary: 'Poppins', sans-serif;

//------------------------------------------------------------------
// Base body styles
//------------------------------------------------------------------

html,
body {
  font-size: $base;
  color: $text;

  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

::selection {
  color: $white;
  background: rgba($primary, .99999);
}

//------------------------------------------------------------------
// Font Styles
//------------------------------------------------------------------

%p {
  font-size: 1.6rem;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

//------------------------------------------------------------------
// Images
//------------------------------------------------------------------

img {
  max-width: 100%;
  height: auto;
}

//------------------------------------------------------------------
// HR
//------------------------------------------------------------------

hr {
  border-bottom: $text;
  border-width: .1rem 0 0 0;
  border-style: solid;
  margin: 3rem auto;
}
