//------------------------------------------------------------------
// Button Styles
//------------------------------------------------------------------

$button-colour: $white;
$button-background: $primary;
$disabled-button-color: lighten($black, 50%);
$error-button-color: $error-colour;

%button,
.button {
  @extend %p;
  display: inline-block;
  color: $button-colour;
  background-color: $button-background;
  margin: 0 1rem 1rem 0;
  padding: .9rem 2rem .8rem;
  cursor: pointer;
  outline: none;
  border-radius: .3rem;
  text-decoration: none;
  transition: all 111ms ease;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 1px;
  }

  &:active {
    transform: translateY(1px);
  }

  &--secondary {
    background-color: $secondary;
    border-color: $secondary;

    @include active {
      background-color: lighten($secondary, 4%);
      border-color: lighten($secondary, 4%);
      color: $white !important;
    }
  }

  @each $colour, $value in $colour-map {
    &--#{$colour} {
      background-color: $value;
      border: $value;

      @include active {
        background-color: lighten($value, 4%);
        border-color: lighten($value, 4%);
        color: $white !important;
      }

      &.button--outline {
        color: $value;
      }
    }

    &--outline--#{$colour} {
      background-color: transparent;
      color: $value;
      border: 1px solid $value;
      padding: .8rem 1.9rem .7rem;

      @include active {
        border-color: lighten($value, 4%);
        background-color: transparent;
      }
    }
  }

  &--round {
    border-radius: 10rem;
  }

  &--disabled {
    background: $disabled-button-color;
    cursor: not-allowed;

    &.button--outline {
      color: $disabled-button-color;
    }

    &:hover {
      background: $disabled-button-color;
    }

    &:active {
      background: $disabled-button-color;
      transform: translateY(1px);
    }

  }

  &--error {
    @extend %button;
    border: 2px solid $error-button-color;
    background: $error-button-color;

    @include active {
      background: lighten($error-button-color, 4%);
      border-color: lighten($error-button-color, 4%);
    }
  }

  &--outline {
    background: transparent;
  }
}
