//------------------------------------------------------------------
// Site wide colour variables
// ------------------------------------------------------------------

$success-colour: #65b922;
$warning-colour: #ffd33a;
$error-colour: #e44e4e;

$white: #fff;
$off-white: #f2f3f0;
$grey-light: #ebebeb;
$black: #000;
$black-light: #434343;

$text: $black-light;
$text-light: #6d6e6a;

$green: #00ff02;
$red: red;

$white: #fff;
$off-white: #f0f0f0;

$grey-light: #f0f4f3;
$grey-mid: #bcbdbd;
$grey-dark: #1b1e20;

//------------------------------------------------------------------
// Theme Colours
//------------------------------------------------------------------

$primary: #8C8C8C;
$secondary: #C0C0C0;
$tertiary: #5C5C5C;