//------------------------------------------------------------------
// Site wide colour variables
//------------------------------------------------------------------

$success-colour: #65b922;
$warning-colour: #997e26;
$error-colour: #e44e4e;

$white: #fff;
$off-white: #f7f7f7;
$grey-light: #ebebeb;
$blue-dark: #202e3c;
$black: #000;

$text: $black;
$text-light: #262626;

//------------------------------------------------------------------
// Brand Colours
//------------------------------------------------------------------

$primary: #e75930;
$secondary: #232427;
$tertiary: #6e8224;

// Add colours to this map to add colour classes globally
$colour-map: (
        'success': $success-colour,
        'warning': $warning-colour,
        'error': $error-colour,
        'white': $white,
        'off-white': $off-white,
        'black': $black,
        'text': $text,
        'text-light': $text-light,
        'primary': $primary,
        'secondary': $secondary,
        'tertiary': $tertiary,
);

@each $colour, $value in $colour-map {
  .colour--#{$colour} {
    color: $value;
  }
}
