//------------------------------------------------------------------
// Imports

@import 'Emmanuel/Mixins';
@import 'Emmanuel/Colours';
@import 'Emmanuel/FontSizes';
@import 'Emmanuel/Lists';
@import 'Emmanuel/Tables';
@import 'Emmanuel/Blockquotes';
@import 'Emmanuel/ButtonStyles';
@import 'Emmanuel/Forms';
@import 'Emmanuel/Spacing';
@import 'Emmanuel/LoginPage';

//------------------------------------------------------------------
// Grid Overrides

$globalWidth: 110rem;
$globalWidthPX: 1100px;
$globalWidthMax: 144rem;
$globalWidthMaxPX: 1440px;
$columnCount: 12;
$gutterWidth: 2rem;

// Include neccessary breakpoints for project here;
$breakpoint-map: (
  'md': $md,
  'xmd': $xmd,
  'lg': $lg,
);

//------------------------------------------------------------------
// Components

@include ColorStyles;
@include TheGrid;
// @include TextAlignment;
// @include FloatClasses;
// @include ShowHide;
@include TableAlignment;
@include ListStyles;
@include TableStyles;
@include BlockquoteStyles;
@include Buttons;
@include FormStyles;
@include SpacingStyles;

//------------------------------------------------------------------
// Global Variables

$logoDimentions: 202,48;

//------------------------------------------------------------------
// Base Styles

html,
body {
  @include font;
}

a {
  color: $primary;
  text-decoration: none;
}

button::-moz-focus-inner {
  border: 0;
}

.js-hide {
  display: none!important;
}

%close-button {
  display: block;
  position: absolute;
  top: 4.5rem;
  right: $gutterWidth;
  height: 4rem;
  width: 4rem;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
  overflow: visible;

  span {
    position: absolute;
    display: block;
    height: .4rem;
    width: 100%;
    top: 50%;
    left: 50%;

    &:first-child {
      transform: translate(-50%, -50%) rotate(45deg);
    }
    &:last-child {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}

.parsley-errors-list {
  position: absolute;
  list-style: none!important;
  padding: 0!important;
  top: calc(100% + .5rem);
  margin-bottom: 0!important;

  li {
    padding: 0!important;
    font-size: 1.2rem;
    margin-bottom: 0!important;

    &:before {
      content: '';
    }
  }
}

