//------------------------------------------------------------------
// Body Styles

html,
body {
  font-family: $font-primary;
}

a {
  color: $primary;
  text-decoration: none;
}

.contentBlocks {
  :last-child {
    margin-bottom: 0;
  }
}