//------------------------------------------------------------------
// Header
//------------------------------------------------------------------

.banner {
  @include cover;
  @include aspect(1920, 1080);
  width: 100%;
  border: 1px solid red;
  background-image: url('../dist/images/standard/banner.jpg');
}