//------------------------------------------------------------------
// Login Page
//------------------------------------------------------------------

.loginWrap {
  @include full;
  position: fixed;
  background: radial-gradient(circle, darken($white, 20%), darken($white, 50%));

  &__content {
    @include vertical-center;
    background: $white;
    width: 90%;
    max-width: 40rem;
    padding: 4rem;
    box-shadow: $z5;
    border-radius: 0.5rem;
    overflow: hidden;

    .action {
      @extend %button;
      @extend %button--secondary;
      width: 100%;
    }

    #BackToLogin,
    #ForgotPassword {
      background: darken($white, 20%);
      margin: 2rem -4rem -4rem;
      width: calc(100% + 8rem);
      padding: 1rem 1.5rem 1.5rem;
      text-align: center;

      a {
        color: $text;
      }
    }
  }
}

#LostPasswordForm_lostPasswordForm_Email_Holder,
#MemberLoginForm_LoginForm_Password_Holder,
#MemberLoginForm_LoginForm_Email_Holder {
  margin-bottom: 1rem;
  position: relative;

  label {
    @include bold;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }

  input {
    margin: 0;
  }
}

// .navigator {
//   display: none;
// }

// html,
// body {
//   margin: 0;
//   height: 100%;
// }

// .animation {
//   width: 100%;
//   height: 100%;
//   display: block;
//   margin: 0;
//   background: black;
//   z-index: 1;
//   position: relative;
//   border: 1px solid red;
// }
