//------------------------------------------------------------------
// Nav
//------------------------------------------------------------------

.type {
  .mainNav {

    .nav {
      text-align: center;
    }
    
    &:first-child {
      .nav {
        text-align: left;
      }
    }

    &:last-child {
      .nav {
        text-align: right;
      }
    }

    .nav {
      white-space: nowrap;

      &__item {
        display: inline-block;
        margin: 0 1rem!important;

        &__link {
          display: block;
          position: relative;
          font-size: 1.5rem;
          color: $secondary;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          transition: color .3s ease;
          @include transition(color);

          &.current {
            color: $primary;
          }
        
          @include active() {
            color: $primary;

            &:after {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
<<<<<<< .merge_file_jJZPwe
              height: calc(100% + 2rem);
=======
              height: 10rem;
>>>>>>> .merge_file_9fv0qS
            }

            + .navChildren {
              display: block;
            }
          }
        }

        &__children {
          display: none;
          position: absolute;
          text-align: left;
          top: 100%;
          background-color: $white;
          padding: 0;
          box-shadow: 0 0 2rem 0 rgba($black, .05);

          @include active {
            display: block;
          }
          &__item {
            margin-bottom: 0!important;

            &__link {
              display: block;
              position: relative;
              padding: 1rem $gutterWidth;
              box-shadow: inset 0 0 0 0 $primary;
              @include transition(box-shadow);
              
              &:before {
                content: '';
                @include pos(absolute, 0);
                @include transition(opacity);
                opacity: 0;
                background-color: $primary;
              }

              @include active {
                box-shadow: inset .4rem 0 0 0 $primary;
                &:before {
                  opacity: .05;
                }
              }
            }
          }
        }
      }
    }
  }


  .mobileNav {
    display: none;
    @include pos(fixed, 0);
    z-index: 1000;
    opacity: 0;
    padding: 10rem 0;
    @include transition(opacity);

    &:before {
      content: '';
      @include pos(absolute, 0);
      background-color: $primary;
      opacity: .95;
    }

    &.js-active {
      opacity: 1;
      .nav {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &__close {
      @include closeBtn(4rem, .4rem, $white);
    }

    .navChildren {
      display: none;
    }

    .nav {
      opacity: 0;
      transform: translateY(4rem);
      @include transition((opacity, transform));
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;

      &__item {
        display: table-row;
        margin: 0;

        &:not(:last-child) {
          a {
            // border-bottom: .1rem solid rgba($white, .25);
          }
        }

        .subNav {
          display: none!important;
        }

        &__link {
          display: table-cell;
          vertical-align: middle;
          padding: 0 $gutterWidth;
          color: $white;
          font-size: 3rem;
          font-weight: bold;
          text-transform: uppercase;
          text-decoration: none;
          transition: color .3s ease;
          @include transition((color, background-color));

          @include active {
            // color: $tertiary;
            background-color: rgba($black, .125);
          }
        }
      }
    }
  }
}