//------------------------------------------------------------------
// Nav
//------------------------------------------------------------------

.mainNav {

  .nav {
    text-align: center;
  }
  
  &:first-child {
    .nav {
      text-align: left;
    }
  }

  &:last-child {
    .nav {
      text-align: right;
    }
  }

  .nav {
    white-space: nowrap;

    &__item {
      display: inline-block;
      margin: 0 1rem!important;

      &__link {
        display: block;
        position: relative;
        font-size: 1.5rem;
        color: $secondary;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        transition: color .3s ease;
        @include transition(color);
      
        @include active('current') {
          color: $primary;
        }
      }
    }
  }
}