//------------------------------------------------------------------
// Sliders

.slick-slider {
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    @include transition(transform);

    &.slick-left {
      left: -6rem;

      @include active {
        transform: translate(-2rem, -50%);
      }
    }

    &.slick-right {
      right: -6rem;

      @include active {
        transform: translate(2rem, -50%);
      }
    }
  }

  .slick-dots {
    position: absolute;
    bottom: -2rem;
    left: 50%;
    font-size: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    transform: translateX(-50%);

    li {
      display: inline-block;
      margin: 0 .7rem;
      padding: 0;

      button {
        font-size: 0;
        height: 1.2rem;
        width: 1.2rem;
        border-radius: 50%;
        background-color: $secondary;
        @include transition(background-color);
      }
      
      &.slick-active {
        button {
          background-color: $primary;
        }
      }
    }
  }
}
