/*------------------------------------------------------------------
Login Page
------------------------------------------------------------------*/

.login-wrap {
    @include full;
    position: fixed;
    background: #2F3031;
    background: radial-gradient(circle, #484848, #2F3031);
    &__content {
        background: $white;
        @include vertical-center;
        width: 90%;
        max-width: 400px;
        padding: 0 3.6rem 4rem;
        box-shadow: $z5;
        border-top: 5px solid $primary;
        h4 {
            display: block;
            text-align: center;
            margin-bottom: 1rem;
        }
        .input-wrap__actions {
            input {
                width: 100%;
                border-radius: 0;
            }
        }
        .logo-wrapper {
            position: relative;
            width: 100%;
            text-align: center;
            margin: 3rem auto;
        }
        #BackToLogin,
        #ForgotPassword {
            background: $grey-light;
            margin: 2rem -3.6rem -4rem;
            width: calc(100% + 7.2rem);
            padding: 1rem;
            text-align: center;
            a {
                color: $text;
            }
        }
    }

    #Password,
    #Email {
        label {
            font-size: 0;
            position: absolute;
            background: $grey-light;
            width: 4rem;
            text-align: center;
            padding: 1.1rem 0 1rem;
            @include media($xl) {
                padding: 1.1rem 0 0.9rem;
            }
            top: -0.2rem;
            &:before {
                font-size: 2rem;
                color: $primary;
            }
        }
        input {
            margin-left: 4rem;
            width: calc(100% - 4rem);
        }
    }
}





