//------------------------------------------------------------------
//                          Break Points
//------------------------------------------------------------------

$xxs: 480px;
$xs: 540px;
$sm: 640px;
$md: 768px;
$xmd: 968px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1440px;
$xxxl: 1640px;


// Grid system must start at 0 -> init value;
$breakpoints: (
  'init': 0,
  'xxs': $xxs,
  'xs': $xs,
  'sm': $sm,
  'md': $md,
  'xmd': $xmd,
  'lg': $lg,
  'xl': $xl,
  'xxl': $xxl,
  'xxxl': $xxxl,
);

//------------------------------------------------------------------
// Box Shadows
//------------------------------------------------------------------

$z1: 0 1px 3px rgba($black, .12), 0 1px 2px rgba($black, .24);
$z2: 0 3px 6px rgba($black, .16), 0 3px 6px rgba($black, .23);
$z3: 0 10px 20px rgba($black, .19), 0 6px 6px rgba($black, .23);
$z4: 0 14px 28px rgba($black, .25), 0 10px 10px rgba($black, .22);
$z5: 0 19px 38px rgba($black, .3), 0 15px 12px rgba($black, .22);

//------------------------------------------------------------------
// Material Easing Beziers
//------------------------------------------------------------------

$transition-sharp: cubic-bezier(.4, 0, .6, 1);
$transition-standard: cubic-bezier(.4, 0, .2, 1);
$transition-acceleration: cubic-bezier(.4, 0, 1, 1);
$transition-deceleration: cubic-bezier(0, 0, .2, 1);

//------------------------------------------------------------------
// HAF
//------------------------------------------------------------------

@mixin active {
  &:hover,
  &:active,
  &:focus {
    @content;
  }
}

//------------------------------------------------------------------
// Media Queries
//------------------------------------------------------------------

@mixin media($size1, $size2: min) {
  @if $size2 == min {
    @media only screen and (min-width: $size1) {
      @content;
    }
  } @else if $size2 == max {
    @media only screen and (max-width: $size1 - 1) {
      @content;
    }
  } @else {
    @media only screen and (min-width: $size1) and (max-width: $size2 - 1) {
      @content;
    }
  }
}

//------------------------------------------------------------------
// Vertical Align
//------------------------------------------------------------------

@mixin vertical-align {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  margin: 0 auto;
}

//------------------------------------------------------------------
// Placeholders
//------------------------------------------------------------------

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }

  &:-moz-placeholder {
    @content
  }

  &::-moz-placeholder {
    @content
  }

  &:-ms-input-placeholder {
    @content
  }
}

//------------------------------------------------------------------
// Micro Clearfix
//------------------------------------------------------------------

@mixin clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}

//------------------------------------------------------------------
// Pseudo Elements
//------------------------------------------------------------------

@mixin pseudo {
  position: absolute;
  content: '';
  display: block;
}


//------------------------------------------------------------------
// Positioning
//------------------------------------------------------------------

@mixin pos($p: absolute, $t: auto, $r: $t, $b: $t, $l: $r) {

  position: $p;
  top: $t;
  right: $r;
  bottom: $b;
  left: $l;
}

//------------------------------------------------------------------
// Dynamic Aspect Ratios
//------------------------------------------------------------------

@mixin aspect($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: percentage($y / $x);
  }
}

//------------------------------------------------------------------
// Background Cover
//------------------------------------------------------------------

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

//------------------------------------------------------------------
// Background Contain
//------------------------------------------------------------------

@mixin contain {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

//------------------------------------------------------------------
// Full Cover Positioning
//------------------------------------------------------------------

@mixin full {
  @include pos(absolute, 0);
}

//------------------------------------------------------------------
// Overlay Colour
//------------------------------------------------------------------

@mixin overlay($color, $opacity) {
  &:before {
    @include full;
    content: '';
    background-color: rgba($color, $opacity);
  }
}

//------------------------------------------------------------------
// Embed Responsivley for Youtube and Vimeo videos
//------------------------------------------------------------------

.responsiveEmbed,
.wysiwyg .media,
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  object,
  embed,
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//------------------------------------------------------------------
// Responsive SVGs
//------------------------------------------------------------------

@mixin svg($x, $y) {
  position: relative;

  &:after {
    content: '';
    position: relative;
    display: block;
    padding-bottom: percentage($y / $x);
  }

  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
