//------------------------------------------------------------------
// Button Styles
//------------------------------------------------------------------

$button-colour: $white;
$button-background: $primary;
$disabled-button-color: lighten($black, 50%);
$error-button-color: $error-colour;

%button,
.button {
  @extend %p;
  @include bold(primary);
  display: inline-block;
  color: $button-colour;
  background-color: $button-background;
  border: 2px solid $button-background;
  margin: 0 1rem 1rem 0;
  padding: 1rem 3rem;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  text-transform: uppercase;
  transition: color .3s ease, border-color .3s ease, background-color .3s ease;

  @include active {
    background-color: lighten($button-background, 4%);
    border-color: lighten($button-background, 4%);
  }

  @each $colour, $value in $colour-map {
    &--#{$colour} {
      background-color: $value;
      border-color: $value;

      @include active {
        background-color: lighten($value, 4%);
        border-color: lighten($value, 4%);
        color: $white !important;
      }

      &.button--outline {
        color: $value;
      }
    }

    &--bordered--#{$colour} {
      background-color: transparent;
      border-color: $value;

      @include active {
        border-color: lighten($value, 4%);
      }
    }
  }

  &--round {
    border-radius: 10rem;
  }

  &--disabled {
    border: 2px solid $disabled-button-color;
    background: $disabled-button-color;
    cursor: not-allowed;

    &.button--outline {
      color: $disabled-button-color;
    }

    @include active {
      border: 2px solid $disabled-button-color;
      background: $disabled-button-color;
      color: $white;
    }
  }

  &--error {
    @extend %button;
    border: 2px solid $error-button-color;
    background: $error-button-color;

    @include active {
      background: lighten($error-button-color, 4%);
      border-color: lighten($error-button-color, 4%);
    }
  }

  &--outline {
    background: transparent;
  }
}
