//------------------------------------------------------------------
// Input Styling
//------------------------------------------------------------------

// Standard Inputs
$input-text-colour: $text;
$input-placeholder-colour: $text-light; 
$input-background-colour: $white;
$input-border-colour: darken($input-background-colour, 15%);
$active-input-border-colour: $primary;
$checkbox-active-colour: $active-input-border-colour;

// Checkbox & Radios
$box-handle: $primary;
$box-background-active: darken($input-background-colour, 25%);
$box-background-inactive: darken($input-background-colour, 15%);

button,
input,
select,
textarea {
  -webkit-appearance: none;
}

%input {
  @extend %p;
  outline: none;
  color: $input-text-colour;
  border: 1px solid $input-border-colour;
  width: 100%;
  background: $input-background-colour;
  padding: 1rem;
  border-radius: 0;
  margin: .6rem 0 2rem;
  transition: all 111ms $transition-standard;

  @include placeholder {
    opacity: .5;
  }

  &:focus {
    border-color: $active-input-border-colour;
  }
}

body {
  .form-wrap {
    ul {
      padding-left: 0;

      li {
        &:before {
          display: none;
        }
      }
    }
  }
}

form {
  %input-wrap,
  .input-wrap {
    position: relative;
    display: block;
    float: left;
    width: 100%;

    label {
      margin: .8rem 0 .3rem;
      display: block;
    }

    &--half {
      width: 49%;
      margin-right: 2%;

      @include media($md, max) {
        width: 100%;
        margin-right: 0;
      }

      &--last {
        margin-right: 0;
      }

    }

    &--third {
      width: 32%;
      margin-right: 2%;

      @include media($md, max) {
        width: 100%;
        margin-right: 0;
      }

      &--last {
        margin-right: 0;
      }
    }

    &--quarter {
      width: 23.5%;
      margin-right: 2%;

      @include media($md, max) {
        width: 100%;
        margin-right: 0;
      }

      &--last {
        margin-right: 0;
      }
    }

    &__actions,
    &--actions {
      @extend %input-wrap;

      .action {
        @extend %button;
      }
    }

    &--text {
      @extend %input-wrap;

      input {
        @extend %input;
      }
    }

    &--numeric,
    &--number {
      @extend %input-wrap;

      input {
        @extend %input;
      }
    }

    &--email {
      @extend %input-wrap;

      input {
        @extend %input;
      }
    }

    &--textarea {
      @extend %input-wrap;

      textarea {
        @extend %input;
        resize: none;
        min-height: 160px;
      }
    }

    &--countrydropdown,
    &--dropdown,
    &--select {
      @extend %input-wrap;

      select {
        @extend %input;
      }

      &:after {
        @include pseudo;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 8px 6px 0;
        border-color: $active-input-border-colour transparent transparent;
        bottom: 3.6rem;
        right: 1.5%;
      }
    }

    &--checkbox {
      @extend %input-wrap;
      margin-bottom: 2.4rem;
    }
  }
  
  [type="submit"]{
   @extend %button;
  }  

}

//------------------------------------------------------------------
// Checkboxes and radio box styles
//------------------------------------------------------------------

[type="radio"] {
  position: absolute;
  opacity: 0;

  + label {
    cursor: pointer;
    user-select: none;
    padding-left: 3rem;

    &:before {
      @extend %icon-radio-unchecked;
      @include pseudo;
      left: 0;
    }
  }

  &:focus {
    + label {
      &:before {
        @extend %icon-radio-focused;
      }
    }
  }

  &:focus:checked,
  &:checked {
    + label {

      &:before {
        @extend %icon-radio-checked;
      }
    }
  }

  &:disabled {
    + label {
      &:before {
        @extend %icon-radio-checked;
        opacity: .6;
      }
    }
  }
}

[type="checkbox"] {
  position: absolute;
  opacity: 0;

  + label {
    cursor: pointer;
    user-select: none;
    padding-left: 3rem;

    &:before {
      @extend %icon-checkbox-unchecked;
      @include pseudo;
      left: 0;
    }
  }

  &:focus {
    + label {
      &:before {
        @extend %icon-checkbox-focused;
      }
    }
  }

  &:focus:checked,
  &:checked {
    + label {
      &:before {
        @extend %icon-checkbox-checked;
      }
    }
  }

  &:disabled {
    + label {
      &:before {
        @extend %icon-checkbox-unchecked;
        opacity: .6;
      }
    }
  }
}
