  %icon-checkbox-checked,
  .icon-checkbox-checked {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: -26px -26px;
    width: 20px;
    height: 20px;
  }
  %icon-checkbox-focused,
  .icon-checkbox-focused {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: -52px 0px;
    width: 20px;
    height: 20px;
  }
  %icon-checkbox-unchecked,
  .icon-checkbox-unchecked {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: -52px -24px;
    width: 20px;
    height: 20px;
  }
  %icon-radio-checked,
  .icon-radio-checked {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: 0px 0px;
    width: 22px;
    height: 22px;
  }
  %icon-radio-focused,
  .icon-radio-focused {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: -26px 0px;
    width: 22px;
    height: 22px;
  }
  %icon-radio-unchecked,
  .icon-radio-unchecked {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: 0px -26px;
    width: 22px;
    height: 22px;
  }
