/*------------------------------------------------------------------
Style Guide Page
------------------------------------------------------------------*/
#style {
    text-align: center;
    section {
        @include clearfix;
        width: 90%;
        max-width: 1140px;
        margin: 4rem auto;
        padding: 4rem;
        text-align: left;
        border: 1px solid $grey-light;
        border-radius: 4px;
    }
    .style {
        &__header {
            background: $primary;
            color: $white;
            padding: 2rem;
            @include light;
        }
    }
    .colours {
        .colour {
            @include aspect(1, 1);
            width: percentage(1/5);
            background: $white;
            box-shadow: $z2;
            padding: 6px;
            &__swatch {
            }
        }
    }
}

.swatch {
    display: block;
    margin: 1rem;
    border: 0.8rem solid white;
    width: calc(33.333% - 2rem);
    @include media($xs) {
        width: calc(25% - 2rem);
    }
    @include media($md) {
        width: calc(20% - 2rem);
    }
    @include aspect(1, 1);
    float: left;
    box-shadow: $z1;
    p {
        @include vertical-center;
        @include heading;
        text-align: center;
        opacity: 0;
        color: $black-mid;
        transition: all 330ms $transition-standard;
    }
    &:hover p {
        background: rgba($off-white, 0.2);
        opacity: 1;
    }
    span {
        position: absolute;
        bottom: -0.1rem;
        left: -0.1rem;
        right: -0.1rem;
        background: white;
        text-align: center;
        text-transform: uppercase;
        padding: 0.5rem;
    }
}

/*------------------------------------------------------------------
Style Guide Page
------------------------------------------------------------------*/

pre {
    white-space: pre-wrap;
    background: $black-mid;
    color: $off-white;
    margin: 2rem auto;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    line-height: 1.45;
    padding: 1rem 2rem;
    position: relative;
    @include font(p);
    &::selection {
        color: $black-mid;
        background: $off-white;
    }
}
