//==================================================================
// Intro Text
//==================================================================

.intro-text {
	display: block;
	margin: 0 auto;
	padding: 80px 0;
	text-align: center;
	&__wrap {
		margin: 0 auto;
		max-width: 940px;
		padding: 0 20px;
		h4 {
			color: $grey-light;
			line-height: 1.3;
		}
	}
}
