/** =========================================
 * Plans of Action Section
 ===========================================*/
.page-title {
	display: block;
	position: relative;
	&--blue {
		background: $blue;
		.page-title__triangle {
			border-top-color: $blue;
		}
	}
	&--pink {
		background: $pink;
		.page-title__triangle {
			border-top-color: $pink;
		}
	}
	&--green {
		background: $green;
		.page-title__triangle {
			border-top-color: $green;
		}
	}
	&__wrap {
		max-width: 1200px;
		margin: 0 auto;
		padding: 40px 20px;
		position: relative;
	}
	&__heading {
		color: $white;
		display: block;
		text-align: center;
		text-transform: uppercase;
		line-height: 1;
		font-size: 60px;
	}
	&__triangle {
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 50px solid #f00;
		@include media($xl) {
			border-left: 40px solid transparent;
			border-right: 40px solid transparent;
			border-top: 60px solid #f00;
		}
		position: absolute;
		right: 10px;
		z-index: 4;
		top: 100%;
	}
}
