//==================================================================
// Sidebar content Styles
//==================================================================

.sidebar-content {
	padding: 0 20px;
	background-color: $off-white;
	&__wrap {
		max-width: 1200px;
		margin: 0 auto;
		position: relative;
		@include clearfix;
		padding: 0 0 100px;
	}
	&__aside {
		@include media($md) {
			width: 300px;
			position: absolute;
			padding-bottom: 100px
		}
		display: block;
		float: left;
		border-left: 3px solid $blue;
		padding-top: 40px;
		&__link {
			padding: 0 20px;
			display: block;
			color: $blue;
			font-size: $h6;
			text-decoration: none;
			@include bold;
			text-transform: uppercase;
			margin-bottom: 15px;
			&--current {
				color: $black;
			}
		}
	}
	&__article {
		width: 100%;
		@include media($md) {
			padding-left: 300px;
		}
		display: block;
		float: left;
		&__heading {
			padding-top: 60px;
			margin-bottom: 30px;
		}
		img {
			width: 100%;
			margin: 20px auto;
		}
		p {
			@include font($p);
			@include bold;
			strong {
				@include extra-bold;
			}
			margin-bottom: 10px;
			display: block;
			a {
				color: $blue;
				text-decoration: none;
			}
		}
	}
}
