/** =========================================
 * Split Blocks
 ===========================================*/

.split-blocks {
    display: block;
    positoin: relative;
    overflow: hidden;
    &__image {
        @include cover;
        display: block;
        width: 100%;
        @include aspect(1920, 560);
        background: $grey-light;
        @include media($xl) {
            margin-bottom: -242px;
        }
    }
    &__wrap {
        max-width: 1280px;
        margin: 0 auto;
        @include clearfix;
    }
    &__item {
        width: 100%;
        br {
            display: none;
        }
        @include media($xl) {
            width: 50%;
            br {
                display: block;
            }
        }
        display: block;
        float: left;
        .split-blocks__item__heading,
        .split-blocks__item__copy {
            padding: 5px 20px;
            h2 {
                margin-bottom: 0;
            }
        }
        @include media($xl) {
            &:nth-child(1) {
                .split-blocks__item__heading,
                .split-blocks__item__copy {
                    padding-right: 40px;
                }
            }
            &:nth-child(2) {
                .split-blocks__item__heading,
                .split-blocks__item__copy {
                    padding-left: 40px;
                }
            }
        }
        &--blue {
            .split-blocks__item__heading {
                background: rgba($blue, 0.7);
                &:after {
                    background: rgba($blue, 0.7);
                    left: 100%;
                }
                h2 {
                    color: $white;
                }
            }
        }
        &--black {
            .split-blocks__item__heading {
                background: rgba($black, 0.7);
                &:after {
                    background: rgba($black, 0.7);
                    right: 100%;
                }
                h2 {
                    color: $blue;
                }
            }
        }
        &__heading {
            position: relative;
            &:after {
                position: absolute;
                top: 0;
                bottom: 0;
                width: 600px;
                content: '';
                display: block;
            }
            h2 {
                @include media($xl) {
                    padding-top: 100px;
                }
                line-height: 1;
                text-transform: uppercase;
            }
            span {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
        &__copy {
            padding-bottom: 30px !important;
            padding-top: 30px !important;
            @include media($xl) {
                padding-bottom: 60px !important;
                padding-top: 60px !important;
            }
            display: block;
            h6 {
                color: $blue;
                margin-bottom: 10px;
                @include bold;
            }
            ul {
                li {
                    margin-bottom: 10px;
                    padding-left: 10px;
                    display: block;
                    @include bold;
                    font-size: $p;
                    position: relative;
                    &:before {
                        @include pseudo;
                        left: -6px;
                        top: 10px;
                        width: 6px;
                        height: 6px;
                        border-radius: 6px;
                        background: $black;
                        display: block;
                    }
                }
            }
        }
    }
}


