//==================================================================
// Stakeholders
//==================================================================

.stakeholders {
	padding: 60px 20px;
	@include clearfix;
	> h3 {
		text-align: center;
		display: block;
		color: $grey;
	}
	&__wrap {
		margin: 0 auto;
		max-width: 1735px;
		font-size: 0;
		text-align: center;
	}
	&__item {
		display: inline-block;
		width: percentage(1/2);
		position: relative;
		&:after {
			width: 1px;
			height: 80%;
			top: 10%;
			content: '';
			display: block;
			background: $grey-light;
			position: absolute;
		}
		&:after {
			right: 0;
		}
		&:nth-child(n):after {
			background: $grey-light;
		}
		&:nth-child(2n+0):after {
			background: transparent;
		}
		&:nth-child(n) {
			border-bottom: 1px solid $grey-light;
		}
		&:nth-child(1n+15) {
			border-bottom: none;
		}
		@include media($md) {
			width: percentage(1/4);
			&:nth-child(n):after {
				background: $grey-light;
			}
			&:nth-child(4n+0):after {
				background: transparent;
			}
			&:nth-child(n) {
				border-bottom: 1px solid $grey-light;
			}
			&:nth-child(1n+13) {
				border-bottom: none;
			}
		}
		@include media($lg) {
			width: percentage(1/6);
			&:nth-child(n):after {
				background: $grey-light;
			}
			&:nth-child(6n+0):after {
				background: transparent;
			}
			&:nth-child(n) {
				border-bottom: 1px solid $grey-light;
			}
			&:nth-child(1n+13) {
				border-bottom: none;
			}
		}
		@include media($xl) {
			&:nth-child(n):after {
				background: $grey-light;
			}
			&:nth-child(8n+0):after {
				background: transparent;
			}
			&:nth-child(n) {
				border-bottom: 1px solid $grey-light;
			}
			&:nth-child(1n+9) {
				border-bottom: none;
			}
			width: percentage(1/8);
		}
		text-align: center;
		padding: 20px;
		img {
			width: 100%;
			display: inline-block;
			margin: 0 auto;
		}
	}
}
