/*------------------------------------------------------------------
Button Styles
------------------------------------------------------------------*/

$button-color: $primary;
$disabled-button-color: $grey-light;
$error-button-color: $red-dark;

.button {
    color: $white;
    background: $button-color;
    border: 2px solid $button-color;
    @include font(p);
    margin: 0.6rem 0 2rem;
    border-radius: .3rem;
    padding: 0.8em 2.4em;
    cursor: pointer;
    outline: none;
    transition: all 120ms $transition-standard;
    @include active {
        background: lighten($button-color, 4%);
        border-color: lighten($button-color, 4%);
    }
    &__outline {
        background: transparent;
        color: $button-color;
        @include active {
            color: $white;
        }
    }
    &__disabled {
        border: 2px solid $disabled-button-color;
        background: $disabled-button-color;
        cursor: not-allowed;
        @include active {
            border: 2px solid $disabled-button-color;
            background: $disabled-button-color;
        }
    }
    &__error {
        @extend .button;
        border: 2px solid $error-button-color;
        background: $error-button-color;
        @include active {
            background: lighten($error-button-color, 4%);
            border-color: lighten($error-button-color, 4%);
        }
    }
}
