//------------------------------------------------------------------
// Header
//------------------------------------------------------------------

.off-canvas-visible {
  .offCanvas {
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  .header__navburger {

    b {
      background: $primary;
    }

    b:nth-child(1) {
      transform: rotate(45deg) translateX(.7rem) translateY(.7rem);
    }

    b:nth-child(2) {
      opacity: 0;
    }

    b:nth-child(3) {
      transform: rotate(-45deg) translateX(.7rem) translateY(-.7rem);
    }
  }
}

.header {
  @include clearfix;
  position: relative;
  padding: 2rem;
  background: $off-white;
  z-index: 999;

  .innerWrap {
    perspective: 4000px;
  }

  &__logo {
    float: left;
    position: relative;
    z-index: 1;
  }

  &__navburger {
    @include vertical-align;
    z-index: 999;
    cursor: pointer;
    right: 1rem;
    width: 3rem;
    font-size: 0;
    height: 2rem;

    b {
      position: absolute;
      width: 3rem;
      height: .3rem;
      display: block;
      background: $text;
      will-change: transform, opacity;
      transition: transform 222ms $transition-standard, opacity 222ms $transition-standard;
      border-radius: 10px;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 1rem;
      }

      &:nth-child(3) {
        top: 2rem;
      }
    }
  }

  &__menu {

    right: 0;
    margin: 0 auto;
    top: 3rem;
    text-align: center;

    @include media($lg, max) {
      display: none;
    }

    &__item {
      display: inline-block;
      margin: 1rem;

      &:hover {
        .header__menu__item__child {
          display: block;
        }
      }

      &__child {
        position: absolute;
        background: rgba($white, .9);
        min-width: 20rem;
        text-align: left;
        top: 100%;
        margin-top: -.5rem;
        display: none;
        box-shadow: $z2;

        li {
          margin: 0;

          &:first-of-type {
            padding-top: .5rem;
          }

          &:last-of-type {
            padding-bottom: .5rem;
          }
        }

        a {
          @extend %p;
          color: $text;
          text-decoration: none;
          padding: .7rem 1rem;
          display: block;

          &:hover {
            background: $off-white;
          }
        }
      }

      &__link {
        @extend %p;
        margin: 0;
        color: $grey-dark;
        padding: .5rem 0;
        position: relative;
        text-decoration: none;

        &:after {
          @include pseudo;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          bottom: -1px;
          height: 1px;
          background: $grey-dark;
          transition: all 222ms $transition-standard;
        }

        &:hover,
        &.current {
          &:after {
            width: 100%;
            opacity: 1;
          }
        }
      }
    }
  }
}
