/*------------------------------------------------------------------
Messages
------------------------------------------------------------------*/

.message {
  display: block;
  margin-top: 0;
  @include font(p-small);
  @include normal;
  padding: 0.5rem 1.6rem;
  &.bad {
    background: rgba($red-light, 0.3);
    border-left: 3px solid $red-light;
  }
  &.good {
    background: rgba($green-light, 0.3);
    border-left: 3px solid $green-light;
  }
  &.validation {
    background: rgba($yellow-dark, 0.3);
    border-left: 3px solid $yellow-dark;
  }
}