//------------------------------------------------------------------
// Off Canvas Navigation
// ------------------------------------------------------------------

.offCanvas {
  position: fixed;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  background: $white;
  box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
  transform: rotate3d(1, 1, 0, -35deg);
  transform-origin: 100% 0;
  opacity: 0;
  will-change: all;
  transition: all 222ms ease;
  z-index: 998;
  border-radius: .4rem;
  overflow: auto;
  visibility: hidden;

  &__menu {
    margin-top: 4rem;
    padding: 2rem 0;

    &__item {

      &__link {
        @include semi;
        display: block;
        padding: .5rem 2rem;
        color: $text;
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__search {
    background: $off-white;
    position: relative;
    border-radius: 0 0 .4rem .4rem;
    padding: 1rem;

    #SearchForm_SearchForm_Search {
      border: 0;
      margin: 0;
      background: transparent;
    }

    #SearchForm_SearchForm_action_results {
      @include semi;
      position: absolute;
      right: 2rem;
      outline: none;
      border: 0;
      top: 1rem;
      bottom: 1rem;
      margin: 0;
      width: 4rem;
      background: $primary;
      border-radius: .2rem;
      color: $white;
    }
  }
}
