//------------------------------------------------------------------
// Off Canvas Navigation
// ------------------------------------------------------------------

.offCanvas {
  position: absolute;
  top: -1rem;
  left: -1rem;
  right: -1rem;
  background: $white;
  box-shadow: 0 50px 100px rgba($black, .1), 0 15px 35px rgba($black, .15), 0 5px 15px rgba($black, .1);
  transform: rotate3d(1, 1, 0, -15deg);
  transform-origin: 100% 0;
  opacity: 0;
  will-change: all;
  transition: all 222ms ease;
  z-index: 998;
  border-radius: .4rem;
  overflow: auto;
  visibility: hidden;

  > svg {
    position: absolute;
    top: 2rem;
    left: 2rem;
    height: 30px;
    width: 126.25px;
  }

  &__menu {
    margin-top: 6rem;
    padding: 2rem 0;

    &__item {
      position: relative;
      margin: 0;

      &:after {
        @include pseudo;
        left: 2rem;
        right: 2rem;
        bottom: -1px;
        height: 1px;
        background: $off-white;
      }

      &__link {
        @include semi;
        display: block;
        padding: 1rem 2rem;
        color: $text;
        text-decoration: none;
        position: relative;

        span {
          width: 4rem;
          position: absolute;
          right: 1.8rem;
          top: 0;
          bottom: 0;
          background: $off-white;
          text-align: center;

          svg {
            margin: 1rem auto;
            transition: all 333ms ease;
          }
        }

        &.current,
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .open {

    svg {
      transform: rotate(90deg);
    }

    .offCanvas__submenu {
      padding: 1rem 0 .5rem;
      max-height: 30rem;
    }
  }

  &__submenu {
    background: $off-white;
    max-height: 0;
    overflow: hidden;
    position: relative;
    padding: 0;
    transition: all 333ms ease;

    &__item {

      &__link {
        @include semi;
        display: block;
        padding: .8rem 3rem;
        color: $text;
        text-decoration: none;
        position: relative;

        span {
          width: 3.5rem;
          position: absolute;
          right: 1.8rem;
          top: 0;
          bottom: 0;
          background: $grey-light;
          text-align: center;

          svg {
            margin: .8rem auto;

          }
        }

        &:hover {
          color: $primary;
        }
      }
    }
  }

  &__search {
    background: $off-white;
    position: relative;
    border-radius: 0 0 .4rem .4rem;
    padding: 1rem;

    #SearchForm_SearchForm_Search {
      border: 0;
      margin: 0;
      background: transparent;
    }

    #SearchForm_SearchForm_action_results {
      @include semi;
      position: absolute;
      right: 2rem;
      outline: none;
      border: 0;
      top: 1rem;
      bottom: 1rem;
      margin: 0;
      width: 4rem;
      padding: 0;
      background: $primary;
      border-radius: .2rem;
      color: $white;
      text-align: center;
      -webkit-appearance: none;
    }
  }
}
