//------------------------------------------------------------------
// Login Page
//------------------------------------------------------------------


.login {
  position: relative;
  height: 100vh;
  background: radial-gradient(circle, darken($white, 80%), darken($white, 100%));

  &:before,
  &:after {
    content: '';
    display: block;
    @include pos(absolute, 0);
  }

  &:before {
    background: linear-gradient(45deg, rgba($primary, 1) 0%, rgba($tertiary, 1) 100%);
  }

  &:after {
    // @include media($sm, max) {
      background-color: rgba($white, 0.8);
    // }
  }

  &__wrap {
    position: relative;
    z-index: 1;
    padding-top: 4rem;
    padding-bottom: 4rem;

    &__content {
      display: block;
      position: relative;
      margin: 0 auto;
      padding: 2rem;
      width: 100%;
      max-width: 60rem;
      border-radius: 0;

      transition: border-radius .3s ease, padding .3s ease, width .3s ease;

      @include media($sm) {
        // background-color: rgba($white, 0.4);
        width: calc(100% - #{$gutterWidth * 2});
        padding: 8rem 3rem;
        border-radius: 6rem;
      }

      @include media($xmd) {
        padding: 8rem;
        // border-radius: 6rem;
      }


      &__header {
        text-align: center;
        margin-bottom: 4rem;
      }

      &__text {
        text-align: center;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: .2rem solid rgba($white, 0.3);
      }

      &__form {
        @include autofill($white);

        padding-left: 2rem;
        padding-right: 2rem;

        .field {
          margin-bottom: 1rem;
        }

        input:not([type="submit"]) {
          border: none!important;
          border-radius: .5rem!important;
          background-color: rgba($primary, .1)!important;
          @include media($xmd) {
            border-radius: 1rem;
          }
        }

        [type="submit"] {
          width: 100%;
          @include button($primary, true);
        }

        .btn-toolbar {
          width: calc(100% + #{$gutterWidth * 2});
          margin-left: -$gutterWidth;
          margin-right: -$gutterWidth;
        }

        #ForgotPassword,
        #BackToLogin {
          text-align: center;
          margin-top: 3rem;
          padding-top: 3rem;
          border-top: .2rem solid rgba($white, 0.3);
          a {
            color: $text;
          }
        }
      }
    }
  }

}
