//------------------------------------------------------------------
// Modal Styles
// ------------------------------------------------------------------

.modal {

  &__header {
    background: $black-light;
    padding: 2rem 3rem;
    color: $white;
  }

  &__content {
    padding: 3rem 3rem 2rem;
    background: $white;

  }

  .embed-container {
    max-width: 100%;
    width: 128rem;
  }
}
