{
// Default options
'functions': true
}

{{#items}}
  .icon-{{name}} {
    display: inline-block;
    background-image: url('../images/sprites.png');
    background-position: {{px.offset_x}} {{px.offset_y}};
    width: {{px.width}};
    height: {{px.height}};
  }
{{/items}}