//------------------------------------------------------------------
// Block Heading
//------------------------------------------------------------------

.blockHeading {
  margin-bottom: 6rem;
  &__title {
    text-transform: uppercase;
    &:last-child {
      margin-bottom: 0;
    }
  }
}